html {
  height: 100%;
}

body {
  display: block;
  background-color: #1e4396;
  height: 100%
}
header {
  font-family: 'Anton', sans-serif;
  background-color: #e23636;
  color: white;
  text-align: center;
  padding: 3vh;
  font-size: 5vw;
}
h3 {
  font-family: 'Mada', sans-serif;
  font-size: 1.8vh
}
label {
  padding-bottom: 3vh;
}

.container {
  width: 100vw;
  max-width: 680px;
  margin: 0 auto;
  background-color: white;
  min-height:100vh;
}

section {
  text-align: left;
  display: flex;
  flex-direction: row;
}
img {
  width: 45%;
  float: left;
  padding-right: 5%;
}

img#comicImage {
  float: right;
  padding-right: 0;
  padding-left: 5%;
}

#comics {
  overflow: hidden;
}

#character--info,
#comics {
  padding: 20px;
}

form {
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 4vh;
  cursor: pointer;
  margin: 5vh auto;
}

input:focus {
  background-color: #e7cf6c;
}

input[type="text"] {
  font-size: 2.5vh;
  border-color: black;
  padding: 1.5vh;
  padding-right: 0;
  font-family: 'Fjalla One', sans-serif;
  display: block;
  width: 100%;
  margin-bottom: 3vh;
  margin-top: 2vh;
}

input[type="submit"] {
  font-size: 2.5vh;
  background-color: black;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 15vh;
  padding-left: 15vh;
  width: 100%;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}
